body{
  text-align:center;
  
}
a{background-color:grey; padding:10px}
figcaption{ font:12pt;}
img{ display:block; margin-left:auto; margin-right:auto; width:50%;}
#featured-property p{width:800px;margin:auto;}

#details{display:block;}
div{ float:left; background-color:red; text-align:center; width:25%; margin:0 auto; height:140px;} 

